.email-index {
  grid-column: 2;
  grid-row: 2;
  border-radius: 10px 0 0 10px;
  background-color: rgba(255, 255, 255);
  height: 100%; /* Ensure the sidebar takes full height */
  display: grid;
  grid-template-columns: 1fr; /* One column */
  gap: 1px; /* Spacing between grid items */
  padding: 10px; /* Add padding */
}

.email-list-container {
  display: grid;
  grid-template-columns: 1fr; /* One column */
  grid-auto-rows: min-content; /* Automatically size rows based on content */
  gap: 2px; /* Spacing between grid items */
}
