.app-header {
  padding: 8px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header h1.logo {
  flex-grow: 1;
  font-weight: 600;
}

.app-header section.container > section {
  flex-grow: 1;
}

.app-header img {
  padding: 8px;
  margin: 2px;
}
.app-header .header-icon {
  border-radius: 50%;
}

.app-header .header-icon:hover {
  background-color: #bdbaba;
  cursor: pointer;
}
