.email-compose {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

.compose-layout {
  display: grid;
  grid-template-rows: 40px 40px 40px minmax(150px, 400px) auto;
  align-items: center;
  border-radius: 15px;
}

.email-compose > div {
  position: absolute;
  max-width: 1345px;

  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: white;
  left: 110px;
  right: 110px;
  top: 40px;
  bottom: 40px;
}

.header-container {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--compose-header);
  align-self: baseline;
  border-radius: 15px 15px 0 0;
  height: 99%;
  font-weight: bold;
}

.icon {
  position: relative;
  top: 0;
}

.icon-span {
  justify-self: end;
}

.icon-span:hover {
  background-color: var(--icon-hover);
}

.compose-form {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2/-1;
}

.to-inp {
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.subj-inp {
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.body-inp {
  grid-row: 3;
}

/* .txt-area {
  min-height: 400px;
} */

.actions {
  grid-row: 4;
  align-self: end;
}

.send-btn {
  border-radius: 18px;
  background-color: rgb(11, 87, 208);
  color: white;
  width: 104px;
  padding: 5px;
  margin: 10px;
  border-color: transparent;
  font-size: 16px;
}

.header-container,
.email-compose input,
.email-compose textarea,
.email-compose textarea:focus-visible,
.email-compose input:focus-visible {
  width: 100%;
  border: none;
  padding: 10px 16px;
  outline-color: transparent;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  outline: none;
  border-bottom: 1px solid var(--compose-color);
}
