.emails-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-filter,
.email-sort {
  display: flex;
  align-items: center;
}

.email-filter select,
.email-filter input[type="date"],
.email-sort select {
  margin-left: 10px; /* Adjust spacing between elements */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.email-filter span,
.email-sort span {
  margin-right: 10px; /* Adjust spacing between label and select */
}

.email-filter select:focus,
.email-filter input[type="date"]:focus,
.email-sort select:focus {
  outline: none;
  border-color: dodgerblue; /* Adjust focus color as needed */
}

/* Toolbar style for email actions */
.emails-actions {
  padding: 10px;

  border-bottom: 1px solid #e0e0e0;
}
.emails-actions:hover {
  background-color: #f5f5f5;
}
