.app-sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr; /* Three rows: actions, folders, labels */
  grid-template-columns: 1fr; /* Single column */
  height: 100%; /* Ensure the sidebar takes full height */
  padding: 10px; /* Add padding */
  max-width: min-content; /* Minimum width */
}
.app-sidebar .closed {
  grid-template-columns: min-content;
  min-width: 50px;
}

.sidebar-actions {
  padding: 10px;
}

.compose-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-folders {
  display: grid;
  grid-auto-rows: min-content; /* Automatically size rows based on content */
  gap: 1px; /* Spacing between grid items */
}

.app-sidebar .folder {
  display: grid;
  grid-template-columns: min-content 1fr; /* Two columns: icon, name */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Spacing between grid items */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}
.app-sidebar.closed .folder {
  grid-template-columns: min-content;
  max-width: 24px;
  place-self: center;
}
.folder:hover {
  background-color: #ebebeb; /* Light gray background on hover */
}

.folder-icon {
  width: 24px; /* Adjust icon size */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-name {
  margin: 0; /* Remove default margin */
}
.label.open,
.folder.open {
  background-color: #a0accd; /* Light blue background for open folder */
}
